/* GLOBAL */
/*--------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100vh;

}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.parent-relative {
    position: relative;
    top: 0;
    left: 0;
}

.flex {
    display: flex;
}

.flex.c {
    flex-direction: column;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.fred {
    font-family: 'Fredoka', sans-serif;
}

.btn {
    background-color: transparent;
    border: 0;
}

/* --- REMOVE ARROS AND SPINNERS FROM INPUTS
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
    border: none;
    outline: none;
}

.relative-parent {
    position: relative;
    height: 100%;
    /* background-color: #E6EBE0; */
}

/*
    Absolutley position the start button to be vertically and horizontally
    centered, relative to the body
*/
.absolute.parent,
.absolute.half {
    position: absolute;
}

.absolute.parent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.325);
}

.absolute.half.top,
.absolute.half.bottom {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #E6EBE0;
    z-index: 4;
}

.absolute.half.top {
    top: 0;
}

.absolute.half.bottom {
    bottom: 0;
}

.init.container {
    flex: 1;
    padding: 1.275rem 0.833rem;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.starter-box {
    flex: 0 1 auto;
    height: 100%;
    width: 250px;
    margin: 0.82rem 0;
    border-radius: 10px;
    background-color: rgba(2,62,138,1);
    text-align: center;
    padding: 0.8rem 2rem;
    gap: 1.22rem;
    color: #E6EBE0;
}

.starter-box > * {
    flex: 0;
    justify-content: stretch; 
    align-items: stretch;
}

.round-count-input-box {
    gap: 0.6rem;
    justify-content: space-between;
    flex: 2;
}

.round-count-input-box > p {
    margin: 0;
    font-size: 1.25rem;
}

/* --- Radio Buttons */
.radio-btns.container {
    height: 25px;
    margin: 0.5rem 0;
}

.radio-btn {
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.radio-btn > label {
    font-size: 1.333rem;
    color: #333;
    z-index: 1;
}

.radio-btn > input[type=radio] {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    background-color: #eee;
    z-index: 0;
}

.start-btn.container {
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.btn#start {
    padding: 0.5rem 1rem;
    font-size: 1.44rem;
    background: #6e6e6e;
    box-shadow: inset 0.9px 0.9px 36px #434343, inset -0.9px -0.9px 36px #999999;
    color: #ccc;
    text-transform: uppercase;
}

.btn.active#start {
    color: #fff;
    background: #429D01;
    box-shadow: inset 5.71px 5.71px 18px #3B8C01, inset -5.71px -5.71px 18px #49AE01;
    transition: all 300ms ease-in-out;
}

.btn.active#start:hover {
    background: #52AB13;
    transition: all 300ms ease-in-out;
}

/* @Animations */
/* --- animate closing of init container */
.round-count-input-box.hide {
    opacity: 0;
    transition: opacity 250ms ease-out;
}

.init.container.hide,
.btn#start.hide {
    animation-name: scaleDown;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes scaleDown {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}

.absolute.half.top.closeUp {
    top: -100%;
    transition: top 1500ms ease-in-out;
}

.absolute.half.bottom.closeDown {
    bottom: -100%;
    transition: bottom 1500ms ease-in-out;
}

/*=====================================*/
/*=====================================*/


/* --- GAME AREA --- */
/*=====================================*/
/* - Page Title - */
.page-title.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 5;
}

.page-title.container > h3 {
    margin: 0;
    padding: 0.64rem;
    font-size: 2.441em;
}

/* --- Game Area Parent --- */
.gamearea.parent {
    height: 100%;
    background-color: rgba(202,240,248,1);
}

.gamearea.parent > .grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

/* - play area */
/*    + this is where the shaking hand and countdown goes */
.game-play.container {
    position: relative;
    background: #caf0f4;
    box-shadow: inset 9.31px 9.31px 6px #B6D8DC,
                inset -9.31px -8.31px 6px #aed7db;

    /* inset -9.31px -9.31px 1px #d0ffff; */
}

.game-play.container > * {
    flex: 1;
}

.player-area.container {
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.win {
    background-color: rgba(107, 219, 158, 0.75);
}

.loss {
    background-color: rgba(231, 95, 104, 0.75);
}

.lives.container {
    width: 100%;
    height: 50px;
}

.lives.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lives.wrapper > i {
    font-size: 1.77rem;
}

.hand-area.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hand-area.container.active {
    animation-name: shake;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes shake {
    0%, 100% {
        top: 50%;
    }
    50% {
        top: 30%;
    }
    95% {
        top: 55%;
    }
}

.hand-area > i {
    font-size: 6.172rem;
}

/* - transform computerHand icons */
#computerHand > .fa-hand-back-fist {
    transform: scaleX(-1) rotate(90deg);
}

.absolute.dashed-line,
.absolute.round-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.absolute.shoot.container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

.absolute.dashed-line {
    height: 98%;
    border: 5px dashed rgba(255,255,255,0.45);
    border-width: 10px;
}

.absolute.round-counter {
    text-align: center;
    background: #caf0f4;
    border-radius: 100%;
    box-shadow: inset 5.71px 5.71px 23px #B6D8DC, inset -5.71px -5.71px 23px #deffffde;
    /* padding: 2.5rem; */
    width: 15vw;
    height: 15vw;
    color: rgb(0, 150, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.absolute.round-counter > h4 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    word-break: break-word;
}

.absolute.round-counter > .round-num {
    font-weight: bolder !important;
}

.btn.shoot {
    background-color: rgba(255, 190, 71, 0.712);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #E6EBE0;
    font-size: 1.77rem;
    font-weight: bold;
}

.btn.shoot.active {
    background-color: orange;
    cursor: pointer;
}

/* - user choices */
.user-choices.container {
    grid-row: 2 / 3;
    justify-items: center;
    background-color: rgba(2, 62, 138, 0.35);
}

.user-choices.container.active {
    background-color: rgba(2, 62, 138, 1);
}

.user-choices.container > .wrapper {
    text-align: center;
    display: flex;
}

.user-choice {
    cursor: pointer;
    flex: 1;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}

.user-choice.active {
    background-color: red;
}

/* - handle hover states of icon depending on if active */
.user-choices.container.active .user-choice:hover {
    background-color: rgba(255,255,255,0.125);
    transition: all 300ms ease-in-out;
}

.user-choice > i {
    padding: 1rem 0.35rem;
    font-size: 3.485rem;
    color: #E6EBE0;
}

.fa-hand-back-fist {
    transform: rotate(90deg);
}

.fa-hand-peace {
    transform: rotate(50deg);
}